work/
modelsim.ini
transcript
vsim.wlf
*.wlf
*.vcd
*.log
*.jou
*.str
*.bak
*.tmp

vivado/
vitis_ws/
vitis_classic_ws/
platform_zynq_soc_accel/
zynq_soc_accel_app/
*_vivado/
.cache/
.runs/
.hw/
.sim/
.ip_user_files/
*.dcp
*.ltx
*.rpt
*.rpx
*.pb
*.vdi
*.xml
*.js
*.sh
*.bat
*.rst

New folder*/
_ide/
extracted/
ip/